# Ignore everything
/*

# Keep .gitignore so it's not excluded
!/.gitignore

# Keep README & LICENSE
!/README.md
!/LICENSE

# Allow specific directories & their contents
!/components/groy/
!/components/groy/**

!/groy/
!/groy/**